@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
	color: lavender;
	background-color: #0f0f10;
	font-family: "Nunito", sans-serif;
	display: flex;
	justify-content: center;
}

body {
	background-color: #1f1821;
	border: 2px solid #7a2ac6;
	border-radius: 20px;
	margin: 20px;
	width: 90%;
	max-width: 700px;
}

.container {
	display: flex;
	gap: 10px;
}

.col {
	flex-direction: column;
}

.padded-width {
	padding: 0 5%;
	margin: 0;
}

h1 {
	text-align: center;
	margin: 5%;
}

h2 {
	background-color: #121012;
	padding: 5%;
	margin: 0;
	text-align: center;
}

h3 {
  text-align: center;
	margin-top: 5%;
}

a {
	color: white;
	background-color: #7a2ac6;
	font-weight:700;
	border-radius: 10px;
	padding: 5px;
	line-height: 40px;
	text-decoration: none;
}

hr {
	border-color: #7a2ac6;
	margin: 0;
}

.center {
	text-align: center;
}

img {
	min-width: 0;
	border: 2px solid #7a2ac6;
	border-radius: 10px;
	margin-bottom: 20px;
}
