@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
	color: lavender;
	background-color: #0f0f10;
	font-family: "Nunito", sans-serif;

}

body {
	display: flex;
	justify-content: center;
}

#main {
	background-color: #1f1821;
	border: 2px solid #7a2ac6;
	border-radius: 20px;
	overflow: hidden;
	flex: 3;
	max-width: 750px;
	margin: 10px;
}

footer {
	background-color: #47225a;

}

.container {
	display: flex;
	gap: 10px;
}

.col {
	flex-direction: column;
	gap: 0;
}

.padded-width {
	padding: 0 5%;
	margin: 0;
}

h1 {
	text-align: center;
	margin: 5%;
}

h2 {
	background-color: #47225a;
	padding: 5%;
	margin: 0;
	text-align: center;
}

h3 {
  text-align: center;
	margin-top: 5%;
}

.main-link {
	color: white;
	background-color: #7a2ac6;
	font-weight:700;
	border-radius: 10px;
	padding: 5px;
	line-height: 40px;
	text-decoration: none;
}

hr {
	border-color: #7a2ac6;
	margin: 0;
}

.center {
	text-align: center;
}

img {
	min-width: 0;
	border: 2px solid #7a2ac6;
	border-radius: 10px;
	margin-bottom: 15px;
}

@media (max-width:1000px) {
	#sidebar * {
		display: none;
	}
}

@media (min-width: 1000px) {

	#sidebar {
		flex: 1;
		margin: 10px;
		max-width: 250px;
		gap: 20px;
	}
	
	.sidebar-menu {
		background-color: #1f1821;
		border: 2px solid #7a2ac6;
		border-radius: 20px;
		overflow: hidden;
	}

	.sidebar-link {
		color: white;
		background-color: #1f1821;
		border: 1px solid #7a2ac6;
		border-width: 1px 0;
		border-radius: 0;
		font-weight:700;
		padding: 10px 5px;
		text-decoration: none;
	}
}
